extends layout

block content
  div
    div.row.row-cols-2.row-cols-md-4
      each item in item_list
        div.col.mb-5
          div.card.h-100
            div.card-body
              h5.card-title #{item.name}
              p.text-muted           
                p.text-muted #{item.brand.name}
              p.card-text #[Strong Price: ] #{item.price_formatted} INR
              p.card-text #[Strong Quantity: ] #{item.inStock}
            dv.card-footer
              a.btn.btn-outline-info.btn-block(href=`/item/${item._id}/view`) #{'View '+ item.item_name}
      else
        h1 This brand hasn't registered any items yet 


    a.btn.btn-block.btn-outline-danger.mg-20(href=`/brand/${brand._id}/delete`) Delete #{brand.name}
    a.btn.btn-block.btn-outline-info.mg-20(href=`/brand/${brand._id}/update`) Update #{brand.name}
    a.btn.btn-block.btn-outline-dark.mg-20(href='/') Back to Home