extends layout

block content
  h1 #{title}
  
  if items.length
  
    p #[strong Delete the following items registered before attempting to delete this Brand.]
  
    div(style='margin-left:20px;margin-top:20px')

      h4 Registered Items

      div.row.row-cols-2.row-cols-md-4
        each item in items
          div.col.mb-5
            div.card.h-100
              div.card-body
                h5.card-title #{item.name}
                p.text-muted           
                  p.text-muted #{item.brand.name}
                p.card-text #[Strong Price: ] #{item.price_formatted} INR
                p.card-text #[Strong Quantity: ] #{item.inStock}
              dv.card-footer
                a.btn.btn-outline-info.btn-block(href=`/item/${item._id}/view`) #{'View '+ item.item_name}
  else
    p Do you really want to delete this Brand?
    
    form(method='POST' action='')
      div.form-group
        input#brandid.form-control(type='hidden',name='brandid', required='true', value=brand._id )

      button.btn.btn-primary(type='submit') Delete