extends layout

block content
  
  div.row.row-cols-2.row-cols-md-4
    each item in item_list
      div.col.mb-5
        div.card.h-100
          img.card-img-top(src=item.photo)
          div.card-body
            h5.card-title #{item.name}
            p.text-muted #{item.brand.name}
            p.card-text #[Strong Price: ] #{item.price_formatted} INR
            p.card-text #[Strong Quantity: ] #{item.inStock}
          dv.card-footer
            a.btn.btn-outline-info.btn-block(href=`/item/${item.id}/view`) #{'View '+ item.item_name}


    else
      div.card
        div.card-body 
          h2.card-title Inventory is currently empy